:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f3f4f6;
  color: #111827;
  line-height: 1.5;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.form-wrapper {
  width: 350px;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.4rem;
  font-weight: 500;
  font-size: 0.95rem;
}

input {
  padding: 0.6rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  background-color: white;
  outline: none;
}

input:focus {
  border-color: #9ca3af;
}

button {
  padding: 0.65rem;
  font-size: 1rem;
  background-color: #e5e7eb; /* svetlo siva */
  color: #111827;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #d1d5db;
}

.toggle-button {
  background: none;
  border: none;
  color: #2563eb;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 2rem;
  margin-bottom: -1rem;
}

.toggle-button:hover {
  text-decoration: underline;
  background-color: transparent;
}

.error-message {
  color: #dc2626;
  font-size: 0.9rem;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

.dashboard-info {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.6;
}

.dashboard-info p {
  margin-bottom: 0.5rem;
}
